*{
    margin: 0;
    padding: 0;
}

html body{
    height: 100%;
    width: 100%;
    text-align: center;
}

h1{
    background-color: #081b31;
    color: white;
    padding: 20px;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;

}
.choice{
    height: 150px;
    width: 150px;
}

img:hover{
    cursor: pointer;
    border: 3px solid #081b31;
}

img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    gap: 3rem;
    margin-top: 5rem;
}

#player-score, #computer-score{
    font-weight: bold;
    font-size: 3rem;
}